In [247]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [248]:
#Import comcast data into Python environment.
df = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")

In [249]:
df.isnull().values.any()

True

In [250]:
df

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,Company Type,Current fulltime,Job created,Job retain,Effective Date,Total Savings,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,LMEP,NaN,NaN,NaN,03/04/2005,0.00,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,LMEP,NaN,NaN,NaN,04/02/2008,136578.20,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,LMEP,1238.0,NaN,NaN,01/05/2015,302959.40,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,ECSP,25.0,NaN,NaN,02/03/2020,2159.67,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,LMEP,2699.0,NaN,NaN,06/30/2017,922407.32,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,"WONTON FOOD, INC.",DONALD LAU,donaldlau@wontonfood.com,7186286868,220-222 MOORE STREET,Brooklyn,NY,11206,Manufacturing,"MFG. PASTA, EGGROLL SKINS",ECSP,210.0,10.0,187.0,12/09/2008,35384.76,965843.58,Brooklyn,40.704425,-73.936010,301.0,34.0,485.0,3071539.0,3.031090e+09,Bushwick South
446,Wood Works,Gordon Brawm,brawnworks@gmail.com,9179404950,162 Cook Street,Brooklyn,NY,11206,Manufacturing,Installer of wood furniture,ECSP,2.0,NaN,NaN,12/05/2017,1457.26,3585.40,Brooklyn,40.702869,-73.936466,301.0,34.0,485.0,3071625.0,3.031230e+09,Bushwick South
447,"WorldWide Plumbing Supply, Inc.",Surie Lefkowitz,sheidya@wwps.com,7188533002,125 Lake Avenue,Staten Island,NY,10303,Manufacturing,"Plumbing Fixtures, Parts & Supplies, Plumbers",ECSP,43.0,NaN,NaN,08/03/2018,8971.02,20487.73,Staten Island,40.633518,-74.150942,501.0,49.0,239.0,5107122.0,5.011610e+09,Mariner's Harbor-Arlington-Port Ivory-Granitev...
448,WUD Furniture LLC,Keren Springer,keren@wudfurniture.com,7184867952,1102 Atlantic Avenue,Brooklyn,NY,11238,Manufacturing,"We make handcrafted furniture, surfaces, lighting",ECSP,7.0,NaN,NaN,01/26/2016,2484.84,12287.32,Brooklyn,40.679518,-73.956819,308.0,35.0,305.0,3027572.0,3.011260e+09,Crown Heights North
449,Wurtec Incorporated,Bill Popp,bill.popp@wurtec.com,4197261066,31-50 31st Street,Lond Island City,NY,11106,Wholesale/Warehouse/Distribution,Elevator tooling products,ECSP,2.0,NaN,NaN,10/03/2019,0.00,0.00,Queens,40.763148,-73.924442,401.0,22.0,61.0,4007562.0,4.005890e+09,Astoria

# Quesion 1:How many different companies are represented in the data set?

In [251]:
print(df["Company Name"].nunique())

439

In [252]:
# Answer 439 different companies are represented in the data set

# Quesion 2:What is the total number of jobs created for businesses in Queens?

In [253]:
df['City'].str.contains('Queens',case=False).sum()

73

In [254]:
# Answer: 73 total number of jobs created for businesses in Queens.

# Question 3: How many different unique email domains names are there in the data set?

In [255]:
df['domain'] = df['company email'].str.split('@').str[1]

In [256]:
df['domain'].value_counts()

gmail.com                30
aol.com                  22
fedex.com                 3
energyspec.com            3
silvercupstudios.com      3
                         ..
vaynermedia.com           1
habersilver.com           1
iehcorp.com               1
brooklynbrands.com        1
weaponspecialists.com     1
Name: domain, Length: 356, dtype: int64

In [257]:
df['domain'].nunique()

356

In [258]:
# Answer: 356 different unique email domains names are there in the data set.

# Qustion 4 and 5: Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA? Save your result for the previous question as a CSV file.

In [264]:
df_new = df[['NTA', 'Job created', 'Total Savings']]
df_new

,NTA,Job created,Total Savings
0,Midwood,NaN,0.00
1,SoHo-TriBeCa-Civic Center-Little Italy,NaN,136578.20
2,Battery Park City-Lower Manhattan,NaN,302959.40
3,Sunset Park West,NaN,2159.67
4,Battery Park City-Lower Manhattan,NaN,922407.32
...,...,...,...
445,Bushwick South,10.0,35384.76
446,Bushwick South,NaN,1457.26
447,Mariner's Harbor-Arlington-Port Ivory-Granitev...,NaN,8971.02
448,Crown Heights North,NaN,2484.84
449,Astoria,NaN,0.00

In [265]:
Avg_Job_created=df_new .groupby(by='NTA')['Job created'].mean().to_frame()

pd.set_option('display.max_columns', None)
Avg_Job_created
df1 = Avg_Job_created.rename({'Job created': 'Avg_Job'}, axis=1)
df1

                                   Avg_Job
NTA
Astoria                                NaN
Baisley Park                           NaN
Battery Park City-Lower Manhattan      NaN
Bedford                                NaN
Bensonhurst West                       NaN
...                                    ...
Whitestone                            10.0
Williamsburg                           NaN
Windsor Terrace                        NaN
Woodside                               NaN
park-cemetery-etc-Brooklyn             NaN

[79 rows x 1 columns]

In [266]:
Avg_total_saving=df_new .groupby(by='NTA')['Total Savings'].mean().to_frame()
#Avg_total_saving=Avg_total_saving.to_frame()
Avg_total_saving
df2 = Avg_total_saving.rename({'Total Savings': 'Avg_saving'}, axis=1)
df2

                                      Avg_saving
NTA
Astoria                             11409.986667
Baisley Park                        21522.740000
Battery Park City-Lower Manhattan  469890.796667
Bedford                             62113.343333
Bensonhurst West                     -379.470000
...                                          ...
Whitestone                          62038.306667
Williamsburg                        23570.080000
Windsor Terrace                     78573.320000
Woodside                             5625.736667
park-cemetery-etc-Brooklyn          14327.419333

[79 rows x 1 columns]

In [267]:
Avg=df1.merge(df2, how = "right" ,on ='NTA')
Avg

                                   Avg_Job     Avg_saving
NTA
Astoria                                NaN   11409.986667
Baisley Park                           NaN   21522.740000
Battery Park City-Lower Manhattan      NaN  469890.796667
Bedford                                NaN   62113.343333
Bensonhurst West                       NaN    -379.470000
...                                    ...            ...
Whitestone                            10.0   62038.306667
Williamsburg                           NaN   23570.080000
Windsor Terrace                        NaN   78573.320000
Woodside                               NaN    5625.736667
park-cemetery-etc-Brooklyn             NaN   14327.419333

[79 rows x 2 columns]

In [268]:
Avg.to_csv('Average_Job_and_saving.csv', index=True)